# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.env
.env.local
# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Local-first search
.next/cache

# Build outputs
/dist
/.next/
/out/

# Static analysis
/coverage
/.nyc_output

# Temporary files
*.swp
.DS_Store

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json